<div class="form-url-list">
  <h1>
Encurtador de Url
  </h1>
<br/>
<br/>
<br/>
<div class="form-group row">

  <label class="col-sm-2 col-form-label">Encurtar Url:</label>
  <div class="col-sm-7">
    <input [(ngModel)]="urlOriginal"name="urlOriginal"class="form-control"/>

  </div>
  <div class="col-sm-1">
    <button type="button"  (click)="encurtarUrl()" class="btn btn-secondary">encurtar</button>

    </div>
    <br>  <br>  <br>
    <label>Url Encurtada: </label>

</div>

<br>
<table class="table table-striped">
<thead>
  <tr>
  <th>Id</th>
  <th>Url</th>
  <th>Url Encurtada</th>
  <th>Data</th>
  <th>Opções</th>
</tr>
</thead>
<tbody>
  <tr *ngFor="let u of _urlsUsuario">
<td>{{u.id}}</td>
<td>{{u.url}}</td>
<td>{{u.urlEncurtada}}</td>
<td>{{u.data |date: 'dd/MM/yyyy'}}</td>
<td></td>
  </tr>
</tbody>
</table>
</div>
